/* CSS for JT Portfolio website */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rock+Salt&display=swap");

body {
  background-color: #143C60;
  /* Using min-width to accomodate smaller screens */
  /*max-width: 980px; */
  margin-left: auto;
  margin-right: auto; 
}

header {
  height: 390px; 
  /* images are photos taken by me, JT Martin */
  background: url(images/trees.jpg);
  background-size: cover;
}

@media screen and (max-width: 635px) {
  header {
    height: 190px;
  }
}

h1 {
  text-align: center;
  padding: 170px 0px 0px 0px;
  color:  #ffffff;
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  margin: auto;
}

@media screen and (max-width: 635px) {
  h1 {
    padding: 80px 0px 0px 0px;
    font-size: 20px;
  }
}

h2 {
  text-align: center;
  color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  /* margin-top: 20px;
  margin-bottom: 0px; */
}

@media screen and (max-width: 635px) {
  h2 {
    font-size: 90%;
  }
}

  h3 {
    color: #FFD147;
    font-family: "Rock Salt", cursive;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform:uppercase; 
}

@media screen and (max-width: 635px) {
  h3 {
    font-size: 16px;
    margin-bottom: 26px;
  }
}

h4 {
  text-align: center;
  color: #FEFFFA;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

header nav {
  /* border: 1px solid #FFD147; */
  padding: 10px 10px 10px 10px;
  margin: 60px 20px 0 0;
  width: 50%;
  color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  text-align: right;
  float: right;
}

@media screen and (max-width: 635px) {
  header nav {
    margin: 20px 10px 0 0;
    font-size: 90%;
  }
}

footer nav {
  float: right;
  margin-right: 30px;
  padding: 0;
}

footer img {
  margin: 0;
  padding: 0;
}

main img {
  /* margin: 15px 15px 15px 15px; */
  float: right;
  border-bottom-style: outset;
  border-bottom-color: #246CAE;
  border-bottom-width: thick;
  width: 170px;
}

@media screen and (max-width: 635px) {
  main img {
    margin-left: 10px;
    width: 25%;
  }
}

.remove-und {
  text-decoration: none;
}

header:after,
nav:after {
  content: " ";
  display: table;
  clear: both;
}

main:after,
img:after {
  content: " ";
  display: table;
  clear: both;
}

footer:after,
img:after {
  content: " ";
  display: table;
  clear: both;
}

main {
  background-color: #194C7A; 
  width: 100%;
}

.main-area {
  padding: 30px 30px 0 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 635px) {
  .main-area {
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
  }
}

main p, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  color: #FEFFFA;
}

@media screen and (max-width: 635px) {
  main p, li {
    font-size: 90%;
  }
}
/* establishing anchor tag look and behavior */

header a {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  color:#FEFFFA;
  text-decoration: none;
}

main a {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  color:#FEFFFA;
}

a:link {
  color:#FEFFFA;
}

a:visited {
  color:#FFD147;
}

a:hover {
  color:#52E4FF;
}

a:active {
  color: rgb(146, 252, 146);
}

/* horizontal rule element for sectioning */

.home-spacer {
  height: 94px;
}

.about-spacer {
  height: 20px;
}

.projects-spacer {
  height: 124px;
}

.contact-spacer {
  height: 90px;
}

@media screen and (max-width: 635px) {
  .home-spacer {
    height: 20px;
  }
  
  .about-spacer {
    height: 10px;
  }
  
  .projects-spacer {
    height: 44px;
  }
  
  .contact-spacer {
    height: 10px;
  }
}

.error {
  background-color: #ffffff;
  text-align: center;
  color: #194C7A;
  margin: auto;
}

.footer-style {
  height: 37px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
  font-weight: lighter;
  color: #979797;
  margin: auto;
  background-color:#000000;
  padding: 16px;
}

@media screen and (max-width: 635px) {
  .footer-style {
    height: 35px;
    font-size: 75%;
    padding: 9px;
  }
}

.contact-footer-style {
  height: 42px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
  font-weight: lighter;
  color: #979797;
  background-color:#000000;
  padding-top: 26px;
}

@media screen and (max-width: 635px) {
  .contact-footer-style {
    height: 35px;
    font-size: 75%;
    padding-top: 16px;
  }
}

ul, ol {
  text-align: left;
}

.list {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}